<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<body>
<header th:replace="layout :: site-header"></header>
<main>
    <div class="container">
        <h2 th:text="${project.name}"></h2>
        <p th:text="${project.description}"></p>
    </div>
    <hr />
    <div class="container">
        <a class="btn btn-default" th:href="@{|/wbs/${project.wbsTree.id}|}">Open WBS</a>
        <a class="btn btn-default" th:href="@{|/projects/${project.id}/edit|}">Edit Project</a>
        <form th:action="@{|/projects/${project.id}/delete|}" method="post">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </form>
    </div>
</main>

<footer th:replace="layout :: site-footer"></footer>
</body>
</html>