<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<body>
<header th:replace="layout :: site-header"></header>
<main>
    <div class="container">
        <h2 th:text="${project.name}"></h2>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p th:text="${project.description}"></p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
                <a class="btn btn-default" th:href="@{|/projects/${project.id}/edit|}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
            <div class="col-xs-1">
                <a class="btn btn-default" th:href="@{|/wbs/${project.wbsTree.id}|}">
                    <span class="glyphicon glyphicon-blackboard"></span>
                </a>
            </div>
            <div class="col-xs-1">
                <form th:action="@{|/projects/${project.id}/delete|}" method="post">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="layout :: site-footer"></footer>
</body>
</html>