<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<body>
<header th:replace="layout :: site-header"></header>
<main>
    <div class="container">
        <h2>Edit element</h2>
        <form th:action="@{|/wbs/element/${node.id}|}" method="post" th:object="${element}">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label th:for="*{name}">Name</label>
                <input class="form-control" type="text" th:field="*{name}" />
            </div>
            <button class="btn btn-default" type="submit">Save</button>
        </form>
    </div>
</main>

<footer th:replace="layout :: site-footer"></footer>
</body>
</html>